/* Content First - Mobile First */
    /* Importaciones */

    /* Declaraciones */

    /* Reglas Generales */

    /* Cabecera */

    /* Navegacion */

    /* Contenido */

    /* Tablas */
    table{
        margin: auto;
    }
    th,
    td,
    table caption{
        padding: .5rem 1rem;
    }
    table caption{
        border-radius: .5rem .5rem 0 0;
    }
    /* Pie de Pagina */

/* Small Devices - Smartphones */

/* Medium Devices - Tablets */

/* Large Devices - Laptops */

/* Extra Large Devices - Desktop */

/* Extra Extra Large - HD Desktop */