/* Content First - Mobile First */
    /* Importaciones */
    @import url('https://fonts.googleapis.com/css2?family=Raleway&family=Ubuntu');
    /* Declaraciones */

    /* Reglas Generales */
    *{
        box-sizing: border-box;
        scroll-behavior: smooth;
        font-family: 'Raleway', 'Century Gothic', sans-serif;
    }

    body{
        margin: 0;
    }
    /* Cabecera */
    #header{
        background-color: #232323;
        height: 60vh;
        padding: 1rem;
    }

    .header-container{
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 2rem;
    }

    .header-container img{
        width: clamp(1rem, 40%, 250px);
        display: block;
    }

    .header-container button{
        border: 0;
        padding: 0;
        border-radius: 10px;
        overflow: hidden;
        background-color: #434242;
        transition: all .3s ease-in;
        
    }
    .header-container button:hover{
        background-color: #2a2a2a;
        box-shadow: rgba(255, 255, 255, 0.20) 0px 3px 8px;
    }

    .header-container button a{
        padding: 12px 10px;
        display: block;
        text-decoration: none;
        font-size: 1rem;
        color: #fff;
    }

    h1{
        color: rgb(255, 255, 255);
        font-size: min(calc(2vw + .8rem), 3rem);
        text-align: center;
    }

    /* Navegacion */

    nav{
        background-color: #232323;
        padding: 1rem;
        padding-top: 2rem;
    }

    nav ul{
        display: flex;
        justify-content: center;
        gap: 1rem;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    nav ul li a{
        text-decoration: none;
        color: #fff;
        padding: .5rem 1rem;
        border-radius: 10px;
        border: solid #fff  1px;
    }

    /* Contenido */
    .navbar{
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        flex-wrap: wrap-reverse;
        padding: .5rem;
        background: linear-gradient(
            to right,
            #c36,
            #448
        )
    }
    .nav{
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: all .5s linear;
    }
    .nav.active{
        max-height: 100vh;
    }
    .navbar a{
        display: flex;
        align-items: center;
        border-radius: .5rem;
        padding: .5rem 1rem;
        text-decoration: none;
        color: #eee;
        filter: opacity(.6) grayscale(100%);
        transition: all .5s ease;
    }
    .navbar a:hover{
        transform: scale(1.01) translateY(-.2rem);
        filter: opacity(1) grayscale(30%);
    }
    .icon-toggle::before{
        content: '\2630';
    }
    .icon-close::before{
        content: '\2715';
    }
    .icon-github::before{
        content: url('../img/github.svg');
    }
    .icon-gitlab::before{
        content: url('../img/gitlab.svg');
    }
    .icon-bitbucket::before{
        content: url('../img/bitbucket.svg');
    }
    /* Tablas */
    table{
        margin: auto;
    }
    th,
    td,
    table caption{
        padding: .5rem 1rem;
    }
    table caption{
        border-radius: .5rem .5rem 0 0;
    }
    .colabs caption{
        font-size: min(calc(1vw + 1rem), 2rem);
        background-color: #c36;
    }
    .colabs{
        border-collapse: collapse;
        color: #eee;
        background-image: linear-gradient(
            #c36,
            #657
        );
        text-shadow: 0 0 .25rem #333;
        box-shadow: -.5rem .5rem .5rem #3338;
    }
    .colabs tbody > :nth-child(odd){
        background-color: #eee3;
    }
    .colabs tbody > :nth-child(even){
        background-color: #9993;
    }
    /* Pie de Pagina */
    /* Estilos para el formulario */
    .formulario {
        max-width: 500px;
        margin: 1rem auto;
        padding: 20px;
        background-color: #fff; /* Cambiado a fondo blanco */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sutil sombra */
        text-align: left;
    }
    .formulario h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .formulario label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        transition: transform 0.2s ease-in-out;
    }
    .formulario input[type="text"],
    .formulario input[type="email"],
    .formulario textarea {
        width: 100%;
        padding: 10px;
        border: none;
        border-bottom: 2px solid #333; /* Borde inferior gris oscuro */
        margin-bottom: 20px;
        transition: border-bottom 0.2s ease-in-out;
    }
    .formulario input[type="text"]:focus,
    .formulario input[type="email"]:focus,
    .formulario textarea:focus {
        border-bottom: 2px solid #333; /* Cambia el color al seleccionar el campo */
    }
    .formulario input[type="submit"] {
        background-color: #333; /* Color de fondo sobrio */
        color: #fff;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
    }
    .formulario input[type="submit"]:hover {
        background-color: #555; /* Cambia el color en el hover */
    }
/* Small Devices - Smartphones */

/* Medium Devices - Tablets */
@media screen and (min-width: 768px) {
    .navbar button{
        display: none;
    }
    .nav{
        display: flex;
        width: auto;
        max-height: 100vh;
    }
}
/* Large Devices - Laptops */

/* Extra Large Devices - Desktop */

/* Extra Extra Large - HD Desktop */
@media screen and (min-width: 1400px){
    .navbar{
        padding: .5rem calc(50vw - 660px);
    }
}